[submodule "\\Users\\leand\\Desktop\\Flutter\\band_names\\band_names_server"]
	path = \\Users\\leand\\Desktop\\Flutter\\band_names\\band_names_server
	url = C:\\Users\\leand\\Desktop\\Flutter\\band_names\\band_names_server
